In [1]:
import torch
import pickle
from torch import nn,optim
import torch.nn.functional
import torch.nn.functional as F
import numpy as np
import pandas as pd
import os as os
from torch.utils.data import DataLoader
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report,multilabel_confusion_matrix
from sklearn.ensemble import RandomForestClassifier,GradientBoostingClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_curve, auc
from sklearn.preprocessing import label_binarize
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.cluster import KMeans
from sklearn.svm import SVC
from scipy.stats import kurtosis,skew
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.feature_selection import f_classif
import scipy.stats
from sklearn.preprocessing import MinMaxScaler,StandardScaler
from imblearn.over_sampling import SMOTE


from sklearn.model_selection import cross_val_score
from collections import OrderedDict

#import warnings
#warnings.simplefilter(action='ignore', category=FutureWarning)

<h1>Train data prep</h1>

una osservazione ogni secondo <br>
1200 osservazioni per dataframe<br>
Le colonne P1-P7 sono pressioni nei punti di misurazione<br>

In [2]:
path_dataset= '/Users/alexdediu/git-projects/Data-Challenge-PHM-Asia-Pacific-2023/dataset'
path_dataframes="/Users/alexdediu/git-projects/Data-Challenge-PHM-Asia-Pacific-2023/dataframes"
path_data = "/data"
path_labels = "/labels_spacecraft.xlsx"

def create_dataframe(name):
    dfs_data = []
    filenames = sorted(os.listdir(f"{path_dataset}/{name}/data"))
    for case,filename in enumerate(filenames):
        if filename.endswith('.csv'):
            percorso_file = os.path.join(f"{path_dataset}/{name}/data", filename)
            df = pd.read_csv(percorso_file)
            print(filename)
            df["Case"]=case+1
            
            dfs_data.append(df)

    df_data = pd.concat(dfs_data, ignore_index=True)
    return df_data,dfs_data

def create_df_labels(name,filename):
    df = pd.read_excel(f"{path_dataset}/{name}/{filename}.xlsx",header=1)
    if name == "train":
        df = df.rename(columns={"Unnamed: 0":"Case","Unnamed: 1":"Spacecraft","Unnamed: 2":"Condition"})
    elif name == "test":
        df = df.rename(columns={"Case#":"Case","Spacecraft#":"Spacecraft"})
        
    return df

In [ ]:
def map_condition(value):
    if value == 1:
        return 0
    elif value in [2, 3]:
        return 1
    else:
        return None

In [3]:
def prepare_df_labels(df_labels):
    condition_map = {'Normal':1,'Fault':2,'Anomaly':3}
    bp_map = {'No':0,'Yes':1}
    df_labels["Condition"] = df_labels["Condition"].map(condition_map)
    bp_columns = [col for col in df_labels.columns if ("BP" in col) or("BV" in col)]

 

    df_labels['binary_condition'] = df_labels['Condition'].apply(map_condition)

    for col in bp_columns:
        df_labels[col] = df_labels[col].map(bp_map)
        
    return df_labels

In [4]:
df_train,dfs_train = create_dataframe("train")
df_test,dfs_test = create_dataframe("test")

df_labels_train = create_df_labels("train","labels")
df_labels_test = create_df_labels("test","labels_spacecraft")
df_labels_train = prepare_df_labels(df_labels_train)

Case001.csv
Case002.csv
Case003.csv
Case004.csv
Case005.csv
Case006.csv
Case007.csv
Case008.csv
Case009.csv
Case010.csv
Case011.csv
Case012.csv
Case013.csv
Case014.csv
Case015.csv
Case016.csv
Case017.csv
Case018.csv
Case019.csv
Case020.csv
Case021.csv
Case022.csv
Case023.csv
Case024.csv
Case025.csv
Case026.csv
Case027.csv
Case028.csv
Case029.csv
Case030.csv
Case031.csv
Case032.csv
Case033.csv
Case034.csv
Case035.csv
Case036.csv
Case037.csv
Case038.csv
Case039.csv
Case040.csv
Case041.csv
Case042.csv
Case043.csv
Case044.csv
Case045.csv
Case046.csv
Case047.csv
Case048.csv
Case049.csv
Case050.csv
Case051.csv
Case052.csv
Case053.csv
Case054.csv
Case055.csv
Case056.csv
Case057.csv
Case058.csv
Case059.csv
Case060.csv
Case061.csv
Case062.csv
Case063.csv
Case064.csv
Case065.csv
Case066.csv
Case067.csv
Case068.csv
Case069.csv
Case070.csv
Case071.csv
Case072.csv
Case073.csv
Case074.csv
Case075.csv
Case076.csv
Case077.csv
Case078.csv
Case079.csv
Case080.csv
Case081.csv
Case082.csv
Case083.csv
Case084.csv
Case085.csv
Case086.csv
Case087.csv
Case088.csv
Case089.csv
Case090.csv
Case091.csv
Case092.csv
Case093.csv
Case094.csv
Case095.csv
Case096.csv
Case097.csv
Case098.csv
Case099.csv
Case100.csv
Case101.csv
Case102.csv
Case103.csv
Case104.csv
Case105.csv
Case106.csv
Case107.csv
Case108.csv
Case109.csv
Case110.csv
Case111.csv
Case112.csv
Case113.csv
Case114.csv
Case115.csv
Case116.csv
Case117.csv
Case118.csv
Case119.csv
Case120.csv
Case121.csv
Case122.csv
Case123.csv
Case124.csv
Case125.csv
Case126.csv
Case127.csv
Case128.csv
Case129.csv
Case130.csv
Case131.csv
Case132.csv
Case133.csv
Case134.csv
Case135.csv
Case136.csv
Case137.csv
Case138.csv
Case139.csv
Case140.csv
Case141.csv
Case142.csv
Case143.csv
Case144.csv
Case145.csv
Case146.csv
Case147.csv
Case148.csv
Case149.csv
Case150.csv
Case151.csv
Case152.csv
Case153.csv
Case154.csv
Case155.csv
Case156.csv
Case157.csv
Case158.csv
Case159.csv
Case160.csv
Case161.csv
Case162.csv
Case163.csv
Case164.csv
Case165.csv
Case166.csv
Case167.csv
Case168.csv
Case169.csv
Case170.csv
Case171.csv
Case172.csv
Case173.csv
Case174.csv
Case175.csv
Case176.csv
Case177.csv
Case178.csv
Case179.csv
Case180.csv
Case181.csv
Case182.csv
Case183.csv
Case184.csv
Case185.csv
Case186.csv
Case187.csv
Case188.csv
Case189.csv
Case190.csv
Case191.csv
Case192.csv
Case193.csv
Case194.csv
Case195.csv
Case196.csv
Case197.csv
Case198.csv
Case199.csv
Case200.csv
Case201.csv
Case202.csv
Case203.csv
Case204.csv
Case205.csv
Case206.csv
Case207.csv
Case208.csv
Case209.csv
Case210.csv
Case211.csv
Case212.csv
Case213.csv
Case214.csv
Case215.csv
Case216.csv
Case217.csv
Case218.csv
Case219.csv
Case220.csv
Case221.csv
Case222.csv
Case223.csv

In [5]:
df_test

,TIME,P1,P2,P3,P4,P5,P6,P7,Case
0,0.000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1
1,0.001,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1
2,0.002,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1
3,0.003,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1
4,0.004,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1
...,...,...,...,...,...,...,...,...,...
55241,1.196,2.017816,2.016297,2.012680,2.044149,2.037457,2.033628,2.069056,46
55242,1.197,2.039878,2.055107,2.054626,2.071298,2.072899,2.076782,2.093548,46
55243,1.198,2.054024,2.081678,2.094493,2.096693,2.095300,2.107353,2.138567,46
55244,1.199,2.057180,2.094954,2.097106,2.153193,2.099423,2.112326,2.127471,46
55245,1.200,2.052882,2.094065,2.109058,2.132366,2.086639,2.091612,2.135966,46

In [6]:
df_labels_train.head()

,Case,Spacecraft,Condition,SV1,SV2,SV3,SV4,BP1,BP2,BP3,BP4,BP5,BP6,BP7,BV1,binary_condition
0,1,1,1,100,100,100,100,0,0,0,0,0,0,0,0,0
1,2,1,1,100,100,100,100,0,0,0,0,0,0,0,0,0
2,3,1,1,100,100,100,100,0,0,0,0,0,0,0,0,0
3,4,1,1,100,100,100,100,0,0,0,0,0,0,0,0,0
4,5,1,1,100,100,100,100,0,0,0,0,0,0,0,0,0

In [7]:
with open('dfs_train_list.pkl', 'wb') as file:
    pickle.dump(dfs_train, file)

with open('dfs_test_list.pkl', 'wb') as file:
    pickle.dump(dfs_test, file)



df_labels_train.to_csv(f"{path_dataframes}/df_labels_train.csv",index_label="index")
df_labels_test.to_csv(f"{path_dataframes}/df_labels_test.csv",index_label="index")
# df_train.to_csv(f"{path_dataframes}/df_train")